APP_NAME=VitalEase
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost

APP_LOCALE=es

DB_CONNECTION=pgsql
DB_HOST=postgres
DB_DATABASE=laravel
DB_USERNAME=root
DB_PASSWORD=

QUEUE_CONNECTION=sync

SESSION_DRIVER=redis

CACHE_STORE=redis

REDIS_HOST=redis

VITE_APP_NAME="${APP_NAME}"

SSH_PUBLIC_KEY_PATH=
